header{
    background-color: white;
}

body{
    background-color: rgb(192, 192, 192);
    font-family: 'Roboto Condensed', sans-serif;
}

/* ! buttons */

.my-sahdow{
    box-shadow: .1rem .1rem .5rem black;
}


/* !box */
.my-box{
    border: 1px solid black;
    height: 150px;
    line-height: 150px;
    margin:.5rem 1rem 1rem 0;
    
}

.my-box-green{
    background-color: green;
    
}

.my-box-red{
    background-color: red;
    
}

.my-box-blue{
    background-color: blue;
}

.my-box-black{
    background-color: black;
}